<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer App</title>
</head>
<body>
  <div class="col-md-12 text-center"><h3>Hi Customer</h3></div>
  <br><br><br>
  <br><br><br>
  <div class="col-md-6 col-md-offset-4">
    <form>
      <label class="col-md-3">Customer Id: </label>
      <input type="number" name="user_id" ng-model="user.id"/><br><br>
      <label class="col-md-3">X: </label>
      <input type="number" name="x" ng-model="user.x"/><br><br>
      <label class="col-md-3">Y: </label>
      <input type="number" name="y" ng-model="user.y"/><br><br>
      <span class="col-md-6 text-center">
        <button class="btn btn-md btn-danger" type="button" ng-click="createRequest()">RIDE NOW</button>
      </span>
    </form>
  </div>
  <div ng-include src="'/templates/message.html'"></div>
</body>
</html>
