<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer App</title>
</head>
<body>
  <div class="col-md-12 text-center"><h3>Hi Customer</h3></div>
  <br><br><br>
  <br><br><br>
  <div class="col-md-6 col-md-offset-4">
    <form>
      <label>Customer Id: </label><br><br>
      <input type="number" name="user_id" ng-model="user_id"/><br><br>
      <button class="btn btn-md btn-danger" type="button" ng-click="createRequest()">RIDE NOW</button>
    </form>
  </div>
  <div ng-include src="'/templates/message.html'"></div>
</body>
</html>
